<!DOCTYPE html>
<html lang="en" ng-app="QueryApp">
<head>
    <meta charset="UTF-8">
    <title>Query App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
</head>
<body ng-controller="queryCtrl as ctrl">
<div class="container">
    <h1>Search by Employees By Age</h1>

    <form name="queryForm" novalidate ng-submit="ctrl.searchByEmployeesByAge()">
        <div class="form-group">
            <label for="ageCriteria">Criteria:</label>
            <select class="form-control" id="ageCriteria" ng-model="ctrl.ageCriteria">
                <option value="lt">Less Than</option>
                <option value="gt">Greater Than</option>
                <option value="eq">Equals To</option>
            </select>
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" ng-model="ctrl.age" id="age" required>
        </div>
        <button type="submit" ng-disabled="queryForm.$invalid">Search</button>
    </form>

    <table class="table table-striped" ng-show="ctrl.results.length">
        <thead>
        <tr>
            <th>Field Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody ng-repeat="item in ctrl.results">
        <tr>
            <td>Employee number:</td>
            <td>{{ item.emp_no}}</td>
        </tr>
        <tr>
            <td>First name:</td>
            <td>{{ item.first_name}}</td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td>{{ item.last_name}}</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>{{ item.gender}}</td>
        </tr>
        <tr>
            <td>Birth date:</td>
            <td>{{ item.birth_date | date:"yyyy mm dd"}}</td>
        </tr>
        <tr>
            <td>Hire Date:</td>
            <td>{{ item.hire_date | date:"yyyy mm dd"}}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="index.js"></script>

</html>