<!DOCTYPE html>
<html lang="en" ng-app="QueryApp">
<head>
    <meta charset="UTF-8">
    <title>Query App</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
</head>
<body ng-controller="queryCtrl as ctrl">
<div class="container">
    <h1>Search by Employee No.</h1>

    <form name="queryForm" novalidate ng-submit="ctrl.searchByEmployeeNo()">
        <input type="text" ng-model="ctrl.emp_no" required>
        <button type="submit" ng-disabled="queryForm.$invalid">Search</button>
    </form>

    <table class="table table-striped" ng-show="ctrl.result">
        <thead>
        <tr>
            <th>Field Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Employee number:</td>
            <td>{{ ctrl.result.emp_no}}</td>
        </tr>
        <tr>
            <td>First name:</td>
            <td>{{ ctrl.result.first_name}}</td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td>{{ ctrl.result.last_name}}</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>{{ ctrl.result.gender}}</td>
        </tr>
        <tr>
            <td>Birth date:</td>
            <td>{{ ctrl.result.birth_date | date:"yyyy mm dd"}}</td>
        </tr>
        <tr>
            <td>Hire Date:</td>
            <td>{{ ctrl.result.hire_date | date:"yyyy mm dd"}}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="index.js"></script>

</html>